body{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: aqua;
    height: 100%;
}
div {
    margin: 0px;
}
.wall {
    background-color: lightblue
}
.path{
    background-color: plum
}
.start {
    background-color: green
}
.finish {
    background-color: green;
}
.map{
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;

}
#maze {
    display: flex;
    flex-wrap: wrap;
    background-color: black;
    position: relative;
    height: 300px;
    width: 420px;
}
#player{
    background-color: blue;
    height: 10px;
    width: 10px;
}
#win {
    font-size: 30px;
}